body{
    background-color: #F8F3ED;

}
.bg-light
{
    background-color: #F8F3ED !important;
}
.btn-primary {
    background-color: #9C7E69!important;
    border-color: #9C7E69!important;

}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #9C7E69!important;
    background-color: #9C7E69!important;
    border-color: #9C7E69!important;
}
a{
   <!-- color :#9C7E69!important;-->
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(0, 0, 0, .7)!important;
}
.modal-content
{
    background-color: #F8F3ED!important;

}
#mainNav .navbar-brand {
    text-shadow: black 0.1em 0.1em 0.2em;

    color: #ffffff!important;
}
#portfolio .portfolio-item .portfolio-caption {
    background-color: #9C7E69!important;

}
h4, h2{
    color: #3A2E29;
}
.text-muted {
    color: #F8F3ED!important;
}
.sup{
    color:#9C7E69!important;
}
#services
{
    background-color: #E8D5C3!important;

}
/*@media (min-width: 1200px){
    .timeline > li.timeline-inverted > .timeline-panel {

        padding: 40px 20px 20px 20px!important;
    }
}*/
/*@media (min-width: 1200px){
    .timeline > li .timeline-panel{
        padding: 40px 20px 20px 20px!important;
    }}*/

.timeline:before {
    background-color :#9C7E69!important;
}
.timeline > li .timeline-image{
    border: 7px solid #9C7E69 !important;
    background-color: #9C7E69!important;

}
.Just
{
text-align: center;
}

.ProTitle
{
    color: #9C7E69!important;
}

.text-primary {
    color: #9C7E69 !important;
}
::selection {
    color: #fff!important;
    background: #3A2E29 !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #9C7E69 !important;
    border-color: #9C7E69 !important;
    color : #3a2e29 !important;
}

#mainNav .navbar-toggler {
    background-color: #9C7E69!important;
}
a:hover a:focus a:active{
    color : white!important;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color :white!important;
    text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff,
    0 0 0.2em #ffffff
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: #fff!important;
}
.intro-text
{
    text-shadow: black 0.1em 0.1em 0.2em
}

.intro-text a
{
    color : white!important;
    text-shadow: black 0em 0em 0em;
    box-shadow:  black 0.1em 0.1em 0.2em;
}
.navbar-brand .js-scroll-trigger
{
    text-shadow: black 0.1em 0.1em 0.2em

}
@media (min-width: 768px){
section {
    padding: 50px 0!important;
}}

.SubServ{
    color: #9C7E69;
    text-align: justify;
}
i>p{
    text-align: left;

}
.CheckCircle
{
    color: #3a2e29;
    text-align: left;

}
.leCercle{
    padding: 5px;

}
.leTexte
{
    padding-left: 35px;
}
.Interet
{
    padding-bottom :100px;
    width: 100%;
}

@media (min-width: 1000px){
.unInteret
{
    margin-left: 20%;

}}
.txtInteret
{
    padding-left: 50px;
    display: inline-block;
    vertical-align : middle;
    text-align: left;
    max-width: 530px;

}
.unInteret
{
    padding-top :50px;

    display: block;
    text-align: center;
}
p{
    font-size:1rem;
}
.SousTitreCI
{
    font-size:1.75rem;
}
a{
    color : #9C7E69!important;
}
.lesIcons
{
    color: white!important;
}
.fondIcon:hover, .fondIcon:focus,.fondIcon:active
{
    color: white!important;
}
ul.social-buttons li a:hover
{
    color: white;
}
.timeline-heading
{
    text-align: center;
    vertical-align: center;
}
section#contact {
    background-image: url(../img/Fond.png)!important;
}
@media (min-width: 1200px){
     .timeline-panel {
        padding: 40px 20px 20px 20px!important!important;
    }}
.progress {
    display: inline-flex!important;
    width: 35%!important;
    background-color:#9C7E69 ;
    margin-left: 15%;
}
.progress-bar
{
    background-color: #3a2e29;
}
.lesIcones
{
    text-align: center;
    padding-top: 30px;
}
.lesIcones img
{
    max-height: 75px;
    margin : 0px 15px 0px 15px;
}
header.masthead {
    background-image: url(../img/header-bg.jpg)!important;

}
.ConTxt
{

    text-shadow: black 0.1em 0.1em 0.2em
}

@media (min-width: 1200px) {
     .timeline-panel {
        padding: 20px 20px 20px 20px!important;
    }
}
#sendMessageButton
{
    box-shadow: black 0.1em 0.1em 0.2em

}
#portfolio .portfolio-item {
    margin-left: auto!important;
    margin-right: auto!important;
}
.fixed-top {
    width: 100vw;
}
.lesLignes
{
    padding-left: 7%;
    padding-right: 7%;
}
.timeline-inverted .timeline-panel .timeline-body .Just
  {
      text-align: left!important;
  }
.timeline-inverted .timeline-panel .timeline-heading
   {
       text-align: left!important;
   }

 .timeline-panel .timeline-body .Just
{
    text-align: right!important;
}
 .timeline-panel .timeline-heading
{
    text-align: right!important;
}

 .ital
 {
     font-style: italic;
 }
 .Desc
 {
     text-align: left;
 }
 .Underl
 {
     text-decoration: underline ;
 }
 .STP
 {
     text-decoration: underline ;
font-size: 1.15rem;
 }